.filter-box{
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    width: 60%;
    min-width: 300px;
    margin: auto;

}

.filter-dropdown {
    width: 100%;
    border-bottom: 2px solid  blue;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.3rem;
}


.filter-select{
    border: none;
    padding: 0.2rem;
}


.filter-select:hover {
    background: gray;
}